<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:horizonos="http://schemas.horizonos/sdk"
    android:installLocation="auto">

    <horizonos:uses-horizonos-sdk
        horizonos:minSdkVersion="69"
        horizonos:targetSdkVersion="76" />

    <uses-feature
        android:name="android.hardware.vr.headtracking"
        android:required="true"
        android:version="1" />

    <queries>
        <package android:name="${kioskTargetPackage}" />
    </queries>

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_rusty_kiosk_launcher"
        android:label="${launcherLabel}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.oculus.supportedDevices"
            android:value="quest2|questpro|quest3|quest3s" />

        <activity
            android:name=".RustyKioskLauncherActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">
            <layout
                android:defaultHeight="520dp"
                android:defaultWidth="760dp"
                android:minHeight="360dp"
                android:minWidth="480dp" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="com.oculus.intent.category.2D" />
                <category android:name="com.oculus.intent.category.OVERLAY_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
