<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:horizonos="http://schemas.horizonos/sdk"
    android:installLocation="auto">

    <horizonos:uses-horizonos-sdk
        horizonos:minSdkVersion="69"
        horizonos:targetSdkVersion="76" />

    <uses-feature
        android:name="android.hardware.vr.headtracking"
        android:required="true"
        android:version="1" />

    <uses-feature android:glEsVersion="0x00030001" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.oculus.permission.HAND_TRACKING" />
    <uses-permission android:name="org.khronos.openxr.permission.OPENXR" />
    <uses-permission android:name="org.khronos.openxr.permission.OPENXR_SYSTEM" />
    <uses-feature android:name="oculus.software.handtracking" android:required="false" />
    <uses-feature android:name="com.oculus.feature.VIRTUAL_KEYBOARD" android:required="false" />
    <uses-feature android:name="oculus.software.overlay_keyboard" android:required="false" />
    <uses-feature android:name="com.oculus.feature.PASSTHROUGH" android:required="false" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.HOME" />
        </intent>
        <package android:name="io.github.mesmerprism.rustykiosk" />
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
        </intent>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="com.oculus.intent.category.2D" />
        </intent>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="com.oculus.intent.category.VR" />
        </intent>
    </queries>

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_rusty_launcher_lite"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.oculus.supportedDevices"
            android:value="quest2|questpro|quest3|quest3s" />

        <meta-data android:name="com.oculus.vr.focusaware" android:value="true" />
        <meta-data android:name="com.oculus.handtracking.version" android:value="V2.0" />
        <uses-native-library android:name="libossdk.oculus.so" android:required="true" />

        <activity
            android:name=".RustyLauncherLiteActivity"
            android:configChanges="screenSize|screenLayout|orientation|keyboardHidden|keyboard|navigation|uiMode"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">
            <layout
                android:defaultHeight="620dp"
                android:defaultWidth="1040dp"
                android:minHeight="480dp"
                android:minWidth="760dp" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="com.oculus.intent.category.2D" />
                <category android:name="com.oculus.intent.category.OVERLAY_LAUNCHER" />
                <category android:name="com.oculus.intent.category.VR_HOME_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RustyLauncherLiteSpatialActivity"
            android:taskAffinity="${applicationId}.immersive"
            android:configChanges="screenSize|screenLayout|orientation|keyboardHidden|keyboard|navigation|uiMode"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.oculus.intent.category.VR" />
            </intent-filter>
        </activity>
    </application>
</manifest>
